<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<suite name="Suite" parallel="none" preserve-order="true">
	<test name="LoginTest">
		<classes>
			<class name="com.training.tests.LoginTest" />
		</classes>
	</test>
	<test name="SupplierMasterTest">
		<classes>
			<class name="com.training.tests.SupplierMasterTest" />
		</classes>
	</test>
</suite> <!-- Suite -->


<!-- you can also try parallel="tests" and parallel="classes" do not try with parallel="methods" -->
